@media screen and (max-width: 480px) {
    body {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        background-color: #FFD6AF;
        
    }

    img {
        padding: 0 0 10px 0;
        margin-top: 15px ;
        width: 50%;
        
    }

    .pergunta {
        font-size: 20px;
    }

    .dados {

        margin: 10px 0 10px 0;
        display: block;
        text-align: center;
        
    }

    .dados p {
        display: inline-block;
        font-size: 45px;
        border-radius: 3px;
    }

    #operador{
        background-color: #6060FF;
        margin: 0 10px 0;
        padding: 10px 20px;
    }

    #valor01, #valor02 {
        background-color: #477D46;
        padding: 10px;
    }

    input {
        padding: 10px 0;
        font-size: 45px;
        text-align: center;
        border-radius: 5px;
        width: 60%;
        margin-bottom: 10px;

        box-sizing: border-box;
        border: .5px solid #000000;
        border-radius: 3px;
    }

    .tentardesistir button {
        

        display: inline-block;
        font-size: 20px;

    }

    #tentar, .desistir {
        padding: 10px;
        width: 30%;
        margin: 0 10px;
    }

    #tentar {
        background-color: #00FF00;
    }

    .desistir {
        background-color: red;
    }

    /* .teclado-umtres button, .teclado-quatroseis button, 
    .teclado-setenove button, .teclado-zero  button {
        background-color: white;
        padding: 25px 55px 25px;
        font-size: 70px;
        font-weight: bold;
        margin: 20px;
    } */

}