@media screen and (max-width: 480px) {
    body {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        background-color: #FFD6AF;
    }

    img {
        padding: 0 0 10px 0;
        margin-top: 15px ;
        width: 50%;
    }

    .pergunta {
        font-size: 20px;
    }

    .dados {
        margin: 10px 0 10px 0;
        display: block;
        text-align: center;
    }

    .dados p {
        display: inline-block;
        font-size: 45px;
        border-radius: 3px;
    }
    
    .operador{
        background-color: #6060FF;
        margin: 0 10px 0;
        padding: 10px 10px;
        width: 30px;
    }
    
    .valores {
        background-color: #477D46;
        padding: 10px;
        width:95px;
    }

    .input {
        border: 1px solid black;
        border-radius: 5px;

        padding: 10px 0;
        font-size: 45px;
        text-align: center;
        border-radius: 5px;
        width: 60%;
        margin-bottom: 10px;

        box-sizing: border-box;
        border: .5px solid #000000;
        border-radius: 3px;
    }

    .tentardesistir button {
        border: 0px;
        border-radius: 2px;

        display: inline-block;
        min-width: 110px;
        margin: 0 5px ;
        font-size: 20px;
        padding: 10px;
    }

    button {
        width: 30%;
        padding: 15px;
    }

    .button-tentar {
        background-color: rgb(52, 238, 52);
    }

    .button-desistir {
        background-color: rgb(236, 46, 46);
    }
    
}

@media screen and (max-width: 308px) {
    .dados p, .tentardesistir button {
        margin-bottom: 10px;
    }

    input {
        min-width: 110px;
    }
}